* { padding: 0; margin: 0 auto; box-sizing: border-box; border: 0;}

  /* TAGS */
  html {font-family: "Montserrat", sans-serif;}
  html, body{ height: 100% ;}
  body{ 
    position:absolute; 
    right: 0; 
    left: 0; 
    max-width: 100%;
  }
  header{
    display: flex;
    min-height:150px;
    background-color: #ffffff;
  }
  header h1 {color: #fff; font-family: "McLaren", cursive; font-weight: 200; }
  h1, h2, h3, h4, h5{ 
    text-align: center;
    padding: 10px;
  }

  h1, h2, h3, h4, h5{ color:#19181a;}
  p, h6{
    text-align: justify;
    padding: 10px;
  }

  form {
     width: 100%;
     max-height: 400px;
     background: #dddddd; 
     padding: 15px; 
     border-radius: 7px; 
     margin-top: 70px;
     margin-left: 30px;
     margin-right: 30px;
    }

    .register form, .login form {
      width: 50%;
      margin: 70px auto 0;
    }

  form input, form textarea {
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    margin-top: 20px;
    background: teal;
    opacity: 0.3;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    
  }

  footer p {
    color: #ccc;
  }

  /* IDs */


  /* CLASSES */
  .wrapper {
    display: flex;
    min-height: 30rem;
  }
  .top-bar{
    display: flex;
    background: white;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .heading-text{color:#161212;}
  .heading-text > h5{position: relative;bottom: -75px;}

  .heading-text > h2{
    position: relative;
    bottom: -60px;
  }

  .header-img > img{
    width: 100%;
    height: 450px;
    object-fit: cover;

  }

  .home-post{
    padding: 20px;
    background: #ffffff;
    margin-right: 0;
    box-shadow: 1px 1px 20px #ccc;
    text-align: center;
  }

  .home-post > img{
    width: 100%;
    height: 200px;
  }
  
  .about{
    flex: 9;
    margin: 30px;
  }
  .write{margin: 0 auto!important;}
  .write img{
    height: 400px;
    object-fit: cover;
  }

  img{
    object-fit: cover;
  }
  .side-bar{
    display: flex;
    flex: 3;
    width: 90%;
    /* margin-left: 40px; */
    text-align: center;
    padding: 10px 20px  20px;
  }

  .side-bar img{
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .side-bar h4{
    /* border-top: 2px solid #000000; */
    border-bottom: 1px solid #a79696;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .side-bar p{
    margin-top: 30px;
  }

  .ads{
    height: 200px;
    background: #eeeeee;
  }

  .box-shadow-1{
    box-shadow: 0 1px 2px #ccc;
  }
  
  .contact{
    width: 100%;
    display: flex;
    flex: 9;
  }

  .register, .login{
    width: 80%;
    /* background: url("/images/pic.jpg"); */
    background-position: fixed;
    top: 0;
    background-size: cover;
  }

  .blog-img img{
    width: 80%;
    height:300px;
  }

  .profile{
    flex: 3;
  }

  .profile > span{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
  }

  .social{
    flex: 3;
    margin-top: 5px;
  }

  .social li{
    padding-left: 20px;
  }
  ul {
    list-style-type:none;
  }

  ul li {
    display:inline-block;
    padding:10px;
    }
  
  .nav-bar{
    flex: 6;
    margin-top: 10px;
    text-align: center;
  }
  .nav-link{
    font-weight: bold;
    color: #bbb;
  }

  .nav-link :hover{
    list-style: none;
    }

  a:hover{
    color:#b7b4be; 
    text-decoration:none;
    }
    
  /* HEADING  */
  
  h1{
      font-size: 5.6rem;
  }
  
  h2{
      font-size: 4.5rem;
  }
  
  h3{
      font-size: 3.5rem;
  }
  
  h4{
      font-size: 2.5rem;
  }
  
  h5{
      font-size: 2rem;
  }
  
  h6{
      font-size: 1.5rem;
  }
  
  p{
      font-size: 1rem;
  }
  
  .intro{
      background-color: rgb(0, 0, 0, 0.8);
  }
  
  .intro > img{
      width: 100%;
  }
  
  
  /* LAYOUT CLASS */
  .row{
      width:100%; 
      margin: 0; 
      padding: 0; 
      right: 0!important;
  }
  
  .width-80{
      width: 80%;
  }
  
  .width-70{
      width: 70%;
  }
  
  .width-60{
      width: 60%;
  }
  
  /* PADDING */
  
  .padding-10{
      padding: 10px;
  }
  
  .padding-20{
      padding: 20px;
  }
  
  .padding-30{
      padding: 30px;
  }
  
  .padding-top-10{
      padding-top: 10px;
  }
  
  .padding-top-20{
      padding-top: 20px;
  }
  
  .ads{
      height: 200px;
  }
  
  .padding-top-30{
      padding-top: 30px;
      }
  
  .padding-bottom-10{
      padding-bottom: 10px;
  }
  
  .padding-bottom-20{
      padding-bottom: 20px;
  }
  
  .padding-bottom-30{
      padding-bottom: 30px;
  }
  
  .padding-bottom-40{
      padding-bottom: 40px;
  }
  
  .padding-bottom-50{
      padding-bottom: 50px;
  }
  
  /* MARGIN */
  
  .margin-10{
      margin: 10px;
  }
  
  .margin-20{
      margin: 20px;
  }
  
  .margin-30{
      margin: 30px;
  }
  
  .margin-top-10{
      margin-top: 10px;
  }
  
  .margin-top-20{
      margin-top: 20px;
  }
  
  .margin-top-30{
      margin-top: 30px;
  }
  
  .margin-top-40{
      margin-top: 40px;
  }
  
  .margin-top-50{
      margin-top: 50px;
  }
  
  .margin-bottom-10{
      margin-bottom: 10px;
  }
  
  .margin-bottom-20{
      margin-bottom: 20px;
  }
  
  .margin-bottom-30{
      margin-bottom: 30px;
  }
  
  .margin-bottom-40{
      margin-bottom: 40px;
  }
  
  .margin-bottom-50{
      margin-bottom: 50px;
  }
  
  
  /* COLOR  */
  
  .bg-white{
      background: #ffffff;
  }
  
  .bg-black{
      background: #000000;
  }
  
  .bg-blue{
      background: #2600ff;
  }
  
  .blue{
      color: #2600ff;
  }
  
  .white{
      color: #ffffff;
  }
  
  .black{
      color: #000000;
  }
  
  .left{
      text-align: left;
  }
  
  .right{
      text-align: right;
  }
  
  .center{
      text-align: center;
  }
  
  .justify{
      text-align: justify;
  } 